* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

#frontp {
  position: absolute;
  top: 0;
  left: 0;
  width: 1500px;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  filter: brightness(85%);

}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px;
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
}

.logo {
  position: absolute;
  top: 25px;
  left: 70px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
}

.nav-links {
  position: absolute;
  top: 25px;
  right: 70px;
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: #ddd;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s ease;
  display: sticky;
}

.nav-links a:hover,
.nav-links a.active {
  color: #b277ff;
  border-bottom: 2px solid #b277ff;
  padding-bottom: 4px;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.85) 50%,
    rgba(0, 0, 0, 0.2) 50%
  );
  z-index: -1;
}

.content {
  position: absolute;
  top: 30%;
  left: 8%;
  color: #f1f1f1;
  max-width: 600px;
}

.content h1 {
  font-size: 64px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.1;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
}

.icon {
  margin: 25px 0;
  font-size: 60px;
  color: #b277ff;
}

.heart {
  color: #b277ff;
  margin-right: 10px;
}

.cross {
  color: violet;
}

.content h2 {
  font-weight: 500;
  font-size: 50px;
  color:white;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  width: 80%;
  border: none;
  border-top: 2px dashed #aaa;
  margin: 20px 0;
}

.content p {
  font-size: 25px;
  color: #ccc;
  line-height: 1.7;
}

.website {
  display: inline-block;
  margin-top: 20px;
  font-size: 25px;
  color: #bbb;
  letter-spacing: 0.5px;
  border-bottom: 2px solid #b277ff;
}

#front2p {
  position: absolute;
  object-fit: cover;
  z-index: -2;
  filter: brightness(65%);
  padding-bottom: 40px;
  padding-top: 100px;
  border: 1px violet ;
  width:1600px;
}

.content2 h1 {
  margin :50px 50px;
  padding-left: 57px;
  padding-bottom: 500px;
  padding-top: 650px;
  font-size: 70px;
}

.content2 h2 {
  position: absolute;
  top: 50px;        
  right: 50px;       
  color: white;
  width: 400px;
  padding-top: 1180px;
  padding-left: 20px;
  font-size: 30px;
  font-weight: 100;
  font-style: unset;
  
}

.website2 {
  display: inline-block;
  font-size: 25px;
  color: #bbb;
  letter-spacing: 0.5px;
  position: absolute;
  bottom: 5px;
  right: 50px;
  margin-right: 80px;
  margin-bottom: -950px;
  text-decoration: underline blueviolet;

}

.symbol {
  font-size: 2rem;
  color: #b996ff;
  text-align: left;
  letter-spacing: 5px;
}

#logo {
  size: 30px 30px;
}

.logo-container {
    position: absolute; 
    top: 20px;
    right: 30px; 
    z-index: 1000;
}

.header-logo {
  position: absolute;
  width: 350px;
  height: 350px;
  bottom: 1070px;
  right: 39px;
  color: red;
}


.main-header {
  position: relative; 
}


#front3p {
  position: absolute;
  object-fit: cover;
  background-size: cover;
  background-repeat: repeat;
  z-index: -2;
  filter: brightness(95%);
  border: 1px violet ;
  width:1600px;
  background-position: center;
  margin-top: -450px; 
  border: 2px violet;
}

.content3 h1 {
  font-size: 65px;
  text-align: center;
  letter-spacing: 0.5px;
  bottom: 50px;
  position: absolute; 
  top: 1970px;             
  bottom: auto;    
  margin-top: 10px;
  left: 60px;
}

.content3 h2 {
  font-size: 40px;
  font-weight: 120;
  margin-bottom: -100px;
  text-align: center;
  bottom: 50px;
  position: absolute; 
  top: 2100px;            
  bottom: auto;
}

.header-logo2 {
  position: absolute;
  width: 490px;
  height: 350px;
  right: 1px;
  color: red;
  padding-left: 240px;
  top: 1840px

}

@keyframes blink-effect {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.content3 h1 {
    display: inline-block;
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: opacity 0.3s;
    transition: color 1s ease, transform 1s ease; 
}

.content3 h1:hover {
    animation-name: blink-effect;
    animation-duration: 0.50s; 
    animation-iteration-count: infinite; 
    animation-timing-function: steps(1); 
    
}

#front4p {
  height: 1000px;
  width: 1000px;
  position: absolute;
  object-fit: cover;
  background-size: cover;
  background-repeat: repeat;
  z-index: -2;
  filter: brightness(95%);
  border: 1px violet ;
  width:1600px;
  background-position: center;
  margin-top: 390px; 
  border: 2px violet;
  border-bottom: 50px;
  border-top: 50px;
  
}

.content4 {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #6a1b9a;
  color: white;
  padding: 40px;
  width: 55%;
  height: 40%;
  border-top-left-radius: 10px;
  z-index: 2;
  margin-bottom: -2700px;
  padding-top: 30px;
  padding-bottom: 50px;
  box-sizing: content-box;
  border-style: groove;
}

.content4 h1 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.3;
  letter-spacing : 0.5px;

}

.content4 p {
  font-size: 23px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.header-logo3 {
  padding-top: 400px;
  margin-right: -190px;
  align-items: start;
  align-self: auto;
  padding-right: 10px;
}

#front5p {
  width: 1600px;
  padding-top: 485px;
  position: absolute;
  object-fit: cover;
  background-size: cover;
  background-repeat: repeat;
  z-index: -2;
  filter: brightness(85%);
  border: 1px violet ;
  background-position: center;
  
}

.content5 h1 {
  padding-top: 590px;
  padding-left: 80px;
  font-size: 55px;
  letter-spacing : 0.5px;
}

.content5 p {
  padding-bottom: 35px;
  padding-left: 489px;
  font-size: 22px;
  letter-spacing : 0.3px;
  overflow: 90px;
  padding-bottom: 200px;

}

.nursdoc {
  margin-top: 0px;
}

.simple-footer {
  text-align: center; 
  padding: 25px 10px;
  background-color: #f8f8f8;
  border-top: 1px solid #eee;
}

.footer-links-simple a {
  color: #555;
  text-decoration: none;
  margin: 0 10px; 
  font-size: 20px;

}

.footer-links-simple a:hover {
  color: #191919;
  text-decoration: underline;
}


.footer-copyright-simple {
  margin: 10px 0 0 0; 
  font-size: 12px;
  color: #777;
}

.section-container {
  width: 100%;
  max-width: 1600px;
  height: 50px;
  margin: 50px auto;
  padding: 25px;
  background-color: #222; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  overflow: hidden;
  padding-bottom: 20px;
}

       
.telehealth-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  position: relative;
  background: #191919; 
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.image-side {
    flex: 1;
    min-width: 300px; 
    position: relative;
}

.image-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.content-side {
    flex: 1.5; 
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333; 
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.content-side h1 {
    font-size: 38px;
    color: #b277ff; 
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 700;
}

.content-side p {
    font-size: 18px;
    color: #ddd;
    line-height: 1.6;
}

@media (max-width: 850px) {
    .telehealth-block {
        flex-direction: column; 
    }
    .image-side {
        min-height: 250px;
        min-width: 100%;

    .content-side {
        padding: 30px 25px;
        border-radius: 0 0 12px 12px;
        text-align: center;
    }

    .content-side h1 {
        font-size: 30px;
    }
  }  
}

@media (max-width: 500px) {
    .section-container {
        margin: 20px auto;
        padding: 10px;
    }
     .content-side p {
        font-size: 16px;
    }
}